.input-field {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: 1px solid oklch(87% 0 0);
  outline: none;
  transition: border 0.3s ease-out;
}

.p-fileupload-content {
  padding: 0;
}


.input-field input {
  flex-grow: 1;
}

.input-field:focus {
  border-color: var(--color-orange-400);
}

.input-field input:focus {
  border-color: var(--color-orange-400);
}

.ql-toolbar {
  background-color: var(--color-orange-100);
}

.ql-container {
  border-radius: 0 0 8px 8px;
}
.p-inputswitch.p-highlight .p-inputswitch-slider {
    background: var(--color-orange-300);
}