.input-field {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: 1px solid oklch(87% 0 0);
  outline: none;
  transition: border .3s ease-out;
}

.input-field input {
  flex-grow: 1;
}

.input-field:focus{
  border-color: var(--color-orange-400);
}

.input-field input:focus{
  border-color: var(--color-orange-400);
}