#react-root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#react-root .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

#react-root .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

#react-root .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scope animation trigger */
@media (prefers-reduced-motion: no-preference) {
  #react-root a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#react-root .card {
  padding: 2em;
}

#react-root .read-the-docs {
  color: #888;
}
